body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Gothic-Black;
  src: url('./assets/fonts/Gotham-Black.otf') format('opentype');
}

@font-face {
  font-family: Gothic-Book;
  src: url('./assets/fonts/Gotham-Book.otf') format('opentype');
}

@font-face {
  font-family: Gothic-Medium;
  src: url('./assets/fonts/Gotham-Medium.otf') format('opentype');
}

@font-face {
  font-family: Lobster;
  src: url('./assets/fonts/lobster_[allfont.ru].ttf') format('truetype');
}

@font-face {
  font-family: DKMagical-Brush;
  src: url('./assets/fonts/DKMagicalBrush-Regular.otf') format('opentype');
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

p {
  font-family: Gothic-Medium;
  font-size: 12px;
}
@media screen and (min-width: 790px) {
  p {
    font-size: 16px;
  }
}

h1 {
  font-family: DKMagical-Brush;
  font-size: 2.5rem;
  margin: 1rem 0;
  color: #60269e;
}

@media screen and (min-width: 790px) {
  h1 {
    font-size: 3.5rem;
  }
}
ul.nav-tabs {
  display: none;
}

.tab-content {
  width: 100%;
}

.wrapper {
  background-image: url('./assets/images/Mobile/BR-HOLMicrosite-ThankYou-BackgroundImage_Mobile.png');
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
}

@media screen and (min-width: 640px) {
  .wrapper {
    background-image: url('./assets/images/Desktop/BR-HOLMicrosite-ThankYou-BackgroundImage_Desktop.png');
  }
}

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.landing {
  display: flex;
  min-height: 90vh;
  align-items: center;
}

.landing .copy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  flex-direction: column;
  padding-right: 2rem;
  margin-left: auto;
}

.landing .copy p {
  max-width: 400px;
}
.landing .logo {
  max-width: 315px;
}

.sweeterCard {
  background-image: url('./assets/images/Desktop/Postcard-Envelope-Desktop.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sweeterCard p {
  max-width: 630px;
  margin: 1rem 1.5rem;
}

.sweeterHeadline {
  font-family: DKMagical-Brush;
  font-size: 2.5rem;
  color: #60269e;
  line-height: 1;
  max-width: 500px;
  margin: 0;
}

@media screen and (min-width: 790px) {
  .sweeterHeadline {
    font-size: 3.5rem;
  }
}
.lobster {
  font-family: Lobster;
  color: #a6228c;
}

.disclaimer {
  font-size: 10px;
  text-align: left;
}

button.subscribe {
  padding: 1rem;
  background-color: #60269e;
  color: white;
  font-family: Gothic-Medium;
  font-size: 1.25rem;
  border-radius: 25px;
  border: none;
  transition: 0.2s ease-in-out all;
}

button.subscribe:hover {
  box-shadow: 2px 2px 5px #000;
  cursor: pointer;
}
